@import url("responsiv.css");
@import url("nav.css");
@import url("banner.css");
@import url("content.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: linear-gradient(
        135deg,
        #071a3d 0%,
        #0b2b5c 40%,
        #52111b 70%,
        #9B111E 100%
    );
}

